* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
}

#context {
    width: 100%;
    margin: 0 auto;

}

#top {
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 16px;
    color: #B4E3EF;
}

#top #clubtribe {
    float: left;
    margin-left: 60px;
}

#top #topbtn {
    float: right;
    height: 60px;
    margin-right: 60px;
    line-height: 60px;
}

#top #topbtn a {
    float: left;
    display: inline-block;
    text-decoration: none;
    color: deepskyblue;
    margin-left: 10px;
    font-weight: bolder;
}


#context #clubbg {
    height: 640px;
    position: relative;
}

/*背景 */
#context #clubbg #img {
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
}


#context #clubbg #title {
    position: absolute;
    top: 45%;
    left: 80%;
    font-size: 36px;
    color: white;
}

#context #clubbg #join {
    height: 40px;
    width: 160px;
    border: 6px solid skyblue;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 60%;
    left: 80%;
    font-weight: bold;
    color: #CC6600;
}

/*概括 */
#context #aboutus {
    width: 100%;
    height: 640px;
    position: relative;
    cursor: pointer;
}

#context #aboutus #btn {
    position: absolute;
    float: left;
    width: 100%;
    height: 640px;
    font-size: 36px;
    text-align: center;
    line-height: 520px;
}

#context #aboutus #data {
    position: absolute;
    float: left;
    width: 100%;
    height: 640px;
    font-size: 16px;
    text-align: center;
    line-height: 520px;
    display: none;
}

#context #function {
    width: 100%;
    height: 240px;
    position: relative;
    background: #95e1d3;
}


#context #function div {
    width: 12.5%;
    height: 240px;
    float: left;
    font-size: 36px;
    text-align: center;
    line-height: 260px;
    cursor: pointer;
    color: white;
}

#context #function:hover div {
    transition: 0.5s;
    opacity: 0.2;
}

#context #function div:hover {
    transform: scale(1.1);
    opacity: 1;
    filter: blur(0);
    transition: 0.5s;
}

#bot {
    width: 100%;
    height: 600px;
    position: relative;
}

#show2, #show3, #show1, #show5, #show6, #show7 {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
}

#show1, #show4 {
    background: #444444;
    position: relative;
}

#show1 table td {
    height: 24px;
    font-size: 16px;
    text-align: center;
}

#show4 #msgboard {
    height: 50px;
    width: 40%;
    display: block;
    position: absolute;
    bottom: 2%;
    left: 30%;
    border: 2px solid #333333;
    border-radius: 50px;
    outline: none;
    font-weight: bold;
    font-size: 16px;
    background: #444444;
}

#show4 #msgboard:hover {
    background: white;
}

#show4 h1 {
    width: 600px;
    overflow: hidden;
    text-align: left;
    right: 0;
    top: 10%;
    color: white;
}

.gold {
    color: gold;
}

.silver {
    color: silver;
}

.bronze {
    color: #feb822;
}

.white {
    color: white;
}