* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
}

#context {
    margin: 20px auto;
    width: 60%;
}

#top {
    margin: 20px auto;
    width: 100%;
}

#top #title {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 24px;
    font-weight: bolder;
    text-align: center;

}

#context #leftbox {
    margin-top: 20px;
    float: left;
    width: 20%;
    height: 600px;
}

#leftbox ul li {
    display: block;
    height: 60px;
    width: 80%;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
    border-bottom: 1px solid #333;
}

#rightbox {
    margin-top: 20px;
    float: left;
    width: 79%;
    height: 600px;
    position: relative;
}

#box1 {
    width: 100%;
    height: 100%;
    position: absolute;
}

#box2, #box3, #box4, #box5 {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
}

#rightbox #msg li {
    display: block;
    height: 60px;
    width: 100%;
    font-size: 16px;
    line-height: 60px;
    border-bottom: 1px solid #333;
    position: relative;
}

#rightbox #msg li .agree {
    display: block;
    position: absolute;
    right: 60px;
    bottom: 0px;
    cursor: pointer;
}

#rightbox #msg li .reject {
    display: block;
    position: absolute;
    right: 10px;
    bottom: 0px;
    cursor: pointer;
}

#box2 ul li {
    list-style: none;
    display: block;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #333;
    margin-bottom: 10px;
}

.box2span1 {
    display: block;
    float: left;
    width: 25%;
    text-align: center;
}

.box2span2 {
    display: block;
    float: left;
    width: 25%;
    text-align: center;
    line-height: 50px;
}

.box2span2id {
    display: block;
    float: left;
    width: 25%;
    text-align: center;
    line-height: 50px;
}

.ifadmin {
    display: block;
    float: left;
    width: 25%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

.removemember {
    display: block;
    float: left;
    width: 25%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    color: deepskyblue;
}

.album {
    display: block;
    height: 150px;
    width: 250px;
    float: left;
    margin: 10px 10px;
    position: relative;
    border: 2px solid #333;
}

.album:hover {
    transform: scale(2);
    z-index: 2;
}

#box4 ul li {
    padding: 20px;
    display: block;
    font-size: 20px;
    width: 96%;
    height: 30px;
    margin: 10px auto;
    position: relative;
    background: #FEFEFE;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    background:#F4F5F9;
}

#box4 ul li span {
    display: block;
    position: absolute;
    right: 20px;
    top: 16px;
    color: deepskyblue;
    cursor: pointer;
}