<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="clubtribe.dao.ActivityMapper">
    <select id="getids" resultType="java.lang.String">
        select id from activity
    </select>
    <insert id="insertNewActivity" parameterType="clubtribe.pojo.Activity">
      insert into activity(id,clubid,name,type,begintime,endtime,ifjoin,site,itrdc,schoolname,clubname) value (#{id},#{clubid},#{name},#{type},#{begintime},#{endtime},#{ifjoin},#{site},#{itrdc},#{shoolname},#{clubname})
    </insert>
    <select id="getallactivity" resultType="clubtribe.pojo.Activity">
        select * from activity
    </select>
    <select id="getactivitbyid" resultType="clubtribe.pojo.Activity">
        select * from activity where clubid=#{?}
    </select>
    <delete id="removeactivity">
        delete from activity where id=#{?}
    </delete>
</mapper>