<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="clubtribe.dao.ClubActivityMapper">
    <select id="queryClubidsByUserid" resultType="java.lang.String">
      select clubids from t_user where userid=#{userid}
    </select>

    <select id="queryClubsByClubid" resultType="clubtribe.pojo.Clubs">
      select schoolid,clubid,clubname,perid,adminid,msgboard,album from t_user where clubid=#{clubid}
    </select>
</mapper>