<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="clubtribe.dao.ClubMemberMapper">
    <insert id="insert" parameterType="clubtribe.pojo.ClubMember">
       insert into ${clubid}(userid,sign,msign) value (#{userid},#{sign},#{msign})
   </insert>
    <update id="sign" parameterType="clubtribe.pojo.ClubMember">
        update ${clubid} set sign=#{sign} where userid=#{userid}
    </update>
    <select id="getsigntime" parameterType="clubtribe.pojo.ClubMember" resultType="java.lang.String">
        select sign from ${clubid}  where userid=#{userid}
    </select>
    <update id="updataED" parameterType="clubtribe.pojo.ClubMember">
        update ${clubid} set sign=""
    </update>
</mapper>