<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="clubtribe.dao.ClubMapper">
    <select id="getclubname" resultType="java.lang.String">
        select clubname from t_clubs where clubid =#{?}
    </select>
    <select id="getmsg" resultType="java.lang.String">
        select msg from t_clubs where clubid =#{?}
    </select>
    <update id="initmsg" parameterType="clubtribe.pojo.Club">
         update t_clubs set msg=#{msg} where clubid=#{clubid}
    </update>
    <update id="initmsgboard" parameterType="clubtribe.pojo.Club">
         update t_clubs set msgboard=#{msgboard} where clubid=#{clubid}
    </update>
    <select id="getadminids" resultType="java.lang.String">
        select adminid from t_clubs where clubid=#{?}
    </select>
    <select id="getmsgboard" resultType="java.lang.String">
        select msgboard from t_clubs where clubid=#{?};
    </select>
    <update id="initalbum" parameterType="clubtribe.pojo.Club">
        update t_clubs set album=#{album} where clubid=#{clubid}
    </update>
    <select id="getalbum" resultType="java.lang.String">
        select album from t_clubs where clubid=#{?};
    </select>
    <select id="getnotice" resultType="java.lang.String">
        select notice from t_clubs where clubid =#{?}
    </select>
    <update id="initnotice" parameterType="clubtribe.pojo.Club">
         update t_clubs set notice=#{notice} where clubid=#{clubid}
    </update>
</mapper>